/* home-style.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.navbar {
  background-color: #240481; /* Dark purple background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
}

.nav-links img {
  width: 24px;
  height: 24px;
}

.logout {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.logout:hover {
  text-decoration: underline;
}

.profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.welcome-section {
  text-align: center;
  margin-top: 50px;
}

.welcome-section img {
  width: 250px;
  height: auto;
}

.welcome-section h1 {
  margin-top: 20px;
}
.welcome-section h2,
.welcome-section p {
  margin: 10px 0;
  color: #333;
}
